<!doctype html>
<html ng-app="myApp">
<head>
	<title>Admin</title>
	<script type="text/javascript" src="lib/angular/angular.js"></script>
	<script type="text/javascript" src="lib/socket.io-client/socket.io.js"></script>
	<script type="text/javascript" src="lib/angular-socket-io/socket.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css">
	
</head>
<body ng-controller="adminCtrl">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CARD</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/add.html">Add</a></li>
        <li><a href="/edit.html">Edit</a></li>
      </ul>
    </div>
  </div>
</nav>

 Student ID : <input  class="text-center"  type="text" id="ID_search" name="ID_search" placeholder="Student-ID" ng-model="ID_search.id"> <button type="button" ng-click="ID_searching()" class="btn btn-info">Search</button> 
                                <table id="table1"class="table table-striped">
                                <thead>
                                    <th><span class="label label-primary">ID</span></th>
                                    <th><span class="label label-primary">Name</span></th>
                                    <th><span class="label label-primary">RFID</span></th>

                                </thead>
                                <tbody>
                                    <tr ng-repeat="person in person_searchAll">
                                      <td><input type = "text" ng-model = "selectedModel.rfid" ng-init = "selectedModel.rfid=person.rfid"></td>
                                      <td><input type = "text" ng-model = "selectedModel.id" ng-init = "selectedModel.id=person.id"></td>
                                      <td><input type = "text" ng-model = "selectedModel.name" ng-init = "selectedModel.name=person.name"></td>

                                    </tr>
                                </tbody>
                            </table>
                            <br><button type="button" class="btn btn-primary" ng-click="edit()">Update</button></h3></p>

</body>
</html>