<!doctype html>
<html ng-app= "myApp">
<head>
	<title> Main </title>
	<script type="text/javascript" src="lib/angular/angular.js"></script>
  <script type="text/javascript" src="lib/socket.io-client/socket.io.js"></script>
  <script type="text/javascript" src="lib/angular-socket-io/socket.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css">
  <link href="css/freelancer.css" rel="stylesheet">
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="css/fonts.css" rel="stylesheet" type="text/css">
  <link href="css/fonts2.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="DropdownCtrl">
<nav class="navbar navbar-bright" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Project</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/main.html">Main</a></li>
        <li><a href="/showrt.html">Real-Time</a></li>
        <li><a href="/static.html">Static</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>

<header>
        <div>
            <div class="row">
                <div class="col-lg-12">
                        <h1>ARRIVE TIME</h1>
                        <hr class="star-light">                
                </div>
            </div>
        </div>
</header>

<form class="form-inline pull-right">
<h6 class="text-success"> Filter: 
    <select ng-model="filterItem.store" ng-options="item.name for item in filterOptions.stores">
    </select>
    
  <form>
  Date:
   <input type="date" id="exampleInput" name="input" ng-model="date" ng-change=filterDate()
       placeholder="yyyy-mm-dd" required />
        <!-- <div>{{date | date:"dd/MM/yyyy"}}</div> -->
  </form>
</h6>
</form>

 
<table class="table table-striped">
    
    <thead>
      <th class="text-primary"><h4>ID</h4></th>
      <th class="text-primary"><h4>Name</h4></th>
      <th class="text-primary"><h4>Date</h4></th>
      <th class="text-primary"><h4>Time</h4></th>  
    </thead>
    <tbody>
      <tr  data-ng-repeat="item in std |orderBy:'DATE'|filter:customFilter |filter:customFilterDate ">

        <td class="text-info">{{item.ID}}</td>
        <td class="text-info">{{item.NAME}}</td>
        <td class="text-info">{{item.DATE}}</td>
        <td class="text-info">{{item.TIME.HOUR}}:{{item.TIME.MINUTE}}:{{item.TIME.SECOND}}</td>
 
    </tr>
    </tbody>
  </table>

</body>
</html>